<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>BIDV MetLife</title>
    <link href="./loginmetlife/bootstrap.min.css" rel="stylesheet">
    <link href="./loginmetlife/fonts.css" rel="stylesheet">
    <link href="./loginmetlife/login.css" rel="stylesheet">
</head>
<body>
<main>
    <!-- Logo -->
    <img src="./loginmetlife/bidv_metlife2.png" alt="Cumulus NetQ" id="logo-netq">
    <!-- Form -->
    <form action="http://localhost:8080/admin" method="POST" autocomplete="off">
        <label for="username">Tên đăng nhập</label>
        <input type="text" name="username" id="username">
        <label for="password">Mật khẩu</label>
        <input type="password" name="password" id="password" autocomplete="off">

        <input type="hidden" name="continueURL" id="continueURL"
               value="https://api.bidvmetlife.com.vn/sso-server/oauth/authorize?client_id=chart&amp;redirect_uri=https%3A%2F%2Fsales.bidvmetlife.com.vn%2Fhome%2Fauthorize&amp;response_type=code&amp;scope=user_info">
        <input type="hidden" name="errorURL" id="errorURL" value="">
        <input type="submit" value="Đăng nhập">
        <a class="forgot-password" href="https://api.bidvmetlife.com.vn/sso-server/forgot-password">Quên mật khẩu?</a>
    </form>
</main>
<footer>
    <h4 class="title is-6" style="margin-bottom: 5px;">Mọi yêu cầu hỗ trợ kỹ thuật xin vui lòng liên hệ</h4>
    <ul class="footer">
        <li><a class="link link_after" href="skype:02435550606"><span style="font-size: 1.8em; color: #0061a0;"><i
                class="glyphicon glyphicon-phone-alt"></i></span> (024) 3555 0606</a></li>
        <li><a class="link link_after" href="mailto:wecare@bidvmetlife.com.vn"><span
                style="font-size: 1.8em; color: #0061a0;"><i class="glyphicon glyphicon-envelope"></i></span>
            wecare@bidvmetlife.com.vn </a></li>
    </ul>
</footer>


</body>
</html>