<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="sidebar">
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
            <a href="http://localhost:8080/cms/dashboard" class="app-brand-link">
          <span class="app-brand-logo demo">
              <img src="/assets/img/custom/BIDV_MetLife.png" style="width: 12%">
          </span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active">
                <a href="http://localhost:8080/cms/dashboard" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Analytics">Dashboard</div>
                </a>
            </li>
            <!-- Insurance Processes -->
            <li class="menu-item">
                <a href="http://localhost:8080/cms/claim-manager" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-file"></i>
                    <div data-i18n="Claims">Claims</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="tables-basic.html" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-shield"></i>
                    <div data-i18n="Underwriting">Underwriting</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="ui-tabs-pills.html" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-book"></i>
                    <div data-i18n="Policies">Policies</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="form-layouts-horizontal.html" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-money"></i>
                    <div data-i18n="Billing">Billing</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="pages-account-settings-connections.html" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-support"></i>
                    <div data-i18n="Customer Service">Customer Service</div>
                </a>
            </li>
        </ul>
    </aside>
</div>
</body>
</html>